{% extends 'base.html' %}

{% block content %}
    <header>    
        <h1>{% block title %} Login {% endblock %}</h1>
    </header>
    <main>
        <form action = "http://localhost:5000/login/" method = POST>
            <fieldset>
            <legend>Login Form</legend>
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                
                {{ form.csrf_token }}

                {{ form.email.label }}<br>
                {{ form.email }}
                <br>
                
                {{ form.password.label }}<br>
                {{ form.password }}
                <br>
                
                {{ form.submit }}
            </div>
            
            </fieldset>
        </form> 
    </main>
{% endblock %}